.initPage {
    --ion-background-color: linear-gradient(#3b61aa 0%, #3b61aa 50%, rgba(255, 255, 255, 0) 100%);
    background-image: url("/bg-login-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }